
/* Header */

.page_header,
.header_top,
.add_options,
.additional,
.additional_options,
.options_item,
.options_link,
.order_wapper,
.order_icon,
.order_link,
.authorization_wrapper,
.authorization,
.authorization_main,
.authorization_item,
.authorization_link,
.header_bottom,
.brand,
.brand_link,
.brand_logo,
.navigation,
.categories,
.categories_navigation,
.navigation_link
{
  margin: 0;
  padding: 0;
}

.page_header
{
  display: block;
  width: 100%;
  height: 126px;
}

.page_header-sticky 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  transition: background-color 1s;
}



/* /Header */

/* Header_top */
.header_top
{
  background-color: #482424;
}

.header_top .container
{
  display: block;
  width: 100%;

  position: relative;
}

/* /Header_top */

/* Add_options */

.add_options
{
  float: left;
  display: block;
  /* width: 760px; */
  margin-right: 34px;
}

.additional
{
  list-style: none;
  text-align: left;
}

.options_item
{
  list-style: none;
}

.options_link
{
  text-decoration: none;
  color: inherit;
}

.additional_options
{
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}

.additional_options .options_item
{
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
  font-size: 13px;
  line-height: 50px;
  text-transform: capitalize;
}

.additional_options .options_link
{
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
}

.additional_options .options_link:hover
{
  cursor: pointer;
}

/* /Add_options */

/* Order */

.order_wrapper
{
  float: right; 
  display: block;
  width: 151px;
}

.order_wrapper .order_link
{
  text-decoration: none;
  color: inherit;
  text-align: left;

  display: inline-block;
  vertical-align: middle;
}

.order_wrapper .order_link i
{
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.order_link span
{
  font-size: 13px;
  line-height: 50px;
  color: #ffffff;
  text-transform: capitalize;
}

/* /Order */

/* Authorization */

.authorization_wrapper
{
  float: right;
  display: block;
  /* width: 164px; */
  margin: 0 auto;
}

.authorization
{
  list-style: none;
  text-align: center;
}

.authorization_item
{
  list-style: none;
}

.authorization_link
{
  text-decoration: none;
  color: inherit;
}

.authorization_main
{
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}

.authorization_main .authorization_item
{
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  line-height: 50px;
  text-transform: capitalize;
}

.authorization_main .authorization_item:first-child
{
  border-left: 1px solid #5b3a3a;
  width: 73px; 
}

.authorization_main .authorization_item:last-child
{
  width: 90px; 
}

.authorization_main .authorization_item:hover
{
  background-color: #ff7270;
}


.authorization_main .authorization_link
{
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
}

.authorization_main .authorization_link:hover
{
  cursor: pointer;
}
  
  
/* /Authorization */

/* Header_bottom */

.header_bottom
{
  background-color: #633231;
}

.header_bottom .container
{
  display: block;
  width: 100%;

  position: relative;
}

/* /Header_bottom */

/* Brand */

.brand
{
  float: left;
  /*width: 475px;
  margin-right: 35px;*/
}

.brand_link
{
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 0;
  cursor: pointer;
}

.brand_logo
{
  display: inline-block;
  width: 182px;
  border: none;
  outline: none;
  padding-top: 22px;
}


/* /Brand */

/* Navigation */

.navigation
{
  float: right;
  display: block;
  /*width: 600px;
  margin: 0 auto;*/
}

.categories
{
  list-style: none;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  width: 600px;
}

.categories_navigation
{
  position: relative;
  display: inline-block;
  margin-right: 16px;
  list-style: none;
          
  font-size: 15px;
  line-height: 76px;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
}
.navigation_link
{
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.categories_navigation:last-child
{
  margin-right: 0;
  /* padding-right: 0; */
}

/*.categories_navigation input[type="radio"]
{
  display: none;
}*/

.categories_navigation:hover
{
  color: #ff7270;
}

.categories_navigation::after
{
  content:"";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 4px;
  background-color: transparent;
}

.categories_navigation:hover::after
{
  background-color: #ff7270;
}

/* /Navigation */       

/* /Header */