/* Layout */


html, body
{
	min-width: 1110px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: 623232;
}

html
{
	font-family: 'TruenoLight', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
}

.container
{
	width: 1110px;
	margin: 0 auto;
}

.clearfix::before,
.clearfix::after
{
	content: "";
	display: table;
}

.clearfix::after
{
	clear: both;
}

.page_header
{
	display: block;
	margin: 0;
	padding: 0;
}

.visually_hidden
{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	border: none;
	margin: -1px;
	white-space: nowrap;
	overflow: hidden;
	clip: rect(0 0 0 0);
}


/* /Layout */


/* Button */

.btn
{
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
	color: inherit;

	font-family: 'TruenoBold', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 48px;
	text-transform: uppercase;
	text-align: center;
}

.btn_browsing
{
	width: 255px;
	border-radius: 0;
	background-color: #ff7270;
	color: #ffffff;
	cursor: pointer;
}

.btn_view
{
	width: 211px;
	border-radius: 0;
	background-color: #42d9ce;
	color: #000000;
	cursor: pointer;
}

.btn_discover
{
	width: 145px;
	border-radius: 0;
	background-color: #633231;
	color: #ffffff;
	cursor: pointer;
}

.btn_questions
{
	width: 211px;
	border-radius: 0;
	background-color: #633231;
	color: #ffffff;
	cursor: pointer;
}

/* /Button */