/* Testimonials */

.testimonials,
.slider,
.slider_switch,
.slider_wrapper,
.slider_indicators,
.clients_name,
.avatar_client,
.name_client,
.rating_client,
.slider_contant,
.slider_slide,
.testimonials_client,
.avatar_client,
.name_client,
.rating_client
{
	margin: 0;
	padding: 0;
}

.testimonials
{
	display: block;
	width: 100%;
	background-image: url(../img/Bg_slider_testimonials.png);
}

.slider
{
	width: 100%;
	height: 570px;
}

.slider_switch
{
	display: none;
}

.slider_wrapper
{
	position: relative;
	width: 100%;
	height: 100%;
}

.slider_indicators
{
	position: absolute;
	left: 0;
	top: 100px;
	right: 0;
	margin: 0 auto;
	padding: 0;

	text-align: center;
}

.clients_name
{
	display: inline-block;
	box-sizing: content-box;
	vertical-align: middle;
	width: 154px;
	height: 133px;
	margin-right: 36px;
	cursor: pointer;
	opacity: 0.5;
	transition: opasity 0.5s;
}

.clients_name:hover
{
	opacity: 1;
}

.img_client
{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	white-space: nowrap;
	z-index: 0;
}

.avatar_client
{
	position: relative;
}

.avatar_client::after
{
	content: "";
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 63px;
    height: 63px;
    border: 2px solid white;
    border-radius: 50%;
}

.name_client
{
	font-family: 'TruenoBold', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
	line-height: 26px;
	color: #ffffff;
}

.rating_client
{
	width: 117px;
	height: 20px;
	display: block;
	margin: 0 auto;
	background-image: url(../img/Rating_sprite.png);
	background-repeat: no-repeat;
}

.five_st
{
	background-position: 0 0;
}

.four_st
{
	background-position: 0 -21px;
}

.three_st
{
	background-position: 0 -42px;
}

.two_st
{
	background-position: 0 -63px;
}

.one_st
{
	background-position: 0 -84px;
}

.slider_contant
{
	position: relative;
	top: 281px;
	height: 190px;
	padding: 0;
	list-style: none;
	text-align: center;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
}

.slider_slide
{
	list-style: none;
	display: none;
	position: absolute;
	top: 40px;
	left: 50px;
	right: 50px;
}


#client_1:checked ~ .slider_wrapper .slider_slide_1,
#client_2:checked ~ .slider_wrapper .slider_slide_2,
#client_3:checked ~ .slider_wrapper .slider_slide_3
{
		display: block;
}

#client_1:checked ~ .slider_wrapper label[for="client_1"], 
#client_2:checked ~ .slider_wrapper label[for="client_2"], 
#client_3:checked ~ .slider_wrapper label[for="client_3"]
{
	opacity: 1;
} 

.slider_contant::before 
{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 344px;
  z-index: 1;
  
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: 26px solid transparent;
  border-bottom-width: 20px;
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

#client_1:checked ~ .slider_wrapper .slider_contant::before
{
	left: 320px;
}
#client_2:checked ~ .slider_wrapper .slider_contant::before
{
	left: 512px;
}
#client_3:checked ~ .slider_wrapper .slider_contant::before
{
	left: 707px;
} 


/* /Testimonials */